server:
  port: 8083
spring:
  application:
    name: api-gateway
  config:
    import: optional:configserver:http://localhost:8888
logging:
  level:
    org.springframework.cloud.gateway: DEBUG
    reactor.netty.http.client: DEBUG

