server:
  port: 8082
spring:
  application:
    name: movie-rating-data-service
  config:
    import: optional:configserver:http://localhost:8888

management:
  endpoints:
    web:
      exposure:
        include: "*"
